
.App {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.loading {
    background: #303030;
    height: 100vh;
}

.loader {
    display: flex;
    width: 308px;
    height: 308px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}